# Data files
*.csv
*.pkl
# Ignore all png files
*.png

# Except dashboard exports
!dashboard_exports/
!dashboard_exports/*.png
*.jpg

# Folders to skip
data/
models/
venv/
v2/
src/
dashboard/
.vscode/

# Python cache
__pycache__/
.ipynb_checkpoints/
*.pyc

# Anaconda
.conda/